/* Color Palette:
#9381ff
#b8b8ff
#f8f7ff 
*/

html, body {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    margin: 5px 40px 5px 40px;
    height: 100%;
}

.container-out {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    filter: drop-shadow(3px 3px 3px gray);
}

.header {
    background-color: #9381ff;
    padding: 3px;
    border: #000000;
}

h1 {
    text-align: center;
    margin: 15px;
    filter: drop-shadow(3px 3px 3px gray);
}

.container-in {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #b8b8ff;
    width: 30%;
}

.sidebar img {
    display: block;
    margin: 20px auto 30px auto;
    height: 200px;
    width: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.biodata table {
    filter: drop-shadow(3px 3px 3px gray);
    background-color: #f8f7ff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 5px;   
    border: 2px solid lightgrey;
}

.biodata td {
    padding: 3px;
}

.media {
    margin-top: 15px;
}

.media img {
    height: 30px;
    width: auto;
    display: inline;
    transition: transform .2s;
}

.media img:hover {
    transform: rotate(20deg);
    transform: scale(1.2)
}

.main {
    background-color: #f8f7ff;
    padding: 20px;
    width: 70%;
}

.description {
    margin-bottom: 50px;
}

.hobby {
    margin-bottom: 50px;
}

.hobby img {
    height: 100px;
    width: auto;
    transition: transform .2s;
}

.hobby-in {
    position: relative;
    display: inline;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }

.hobby-in:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}