{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="main text-center">
    {% if user.is_authenticated %}
    <h2>Selamat Datang <span>{{ user.username }}</span>!</h2>
    <h5>Email yang terdaftar: {{ user.email }}</h5>
    <a href="{% url 'story9:logout' %}" class="btn-user btn-lg m-2">Log Out</a>
    {% else %}  
    <h2>Silakan Log In terlebih dahulu :D</h2>
    <a href="{% url 'story9:login' %}" class="btn-user btn-lg m-2">Log In</a>
    <a href="{% url 'story9:register' %}" class="btn-user btn-lg m-2">Register</a>
    {% endif %}
</div>
{% endblock content %}