{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Login - Dashboard</title>
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="main text-center">
  <div class="section">
      <h2>Log <span>In</span></h2>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <form action="{% url 'story9:login' %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <p>Belum punya akun?</p>
        <a href="{% url 'story9:register' %}">Register</a>
        <input class="btn-submit" type="submit" value="Log In">
      </form>
    </div>
</div>
{% endblock content %}