{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Register - Dashboard</title>
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="main text-center">
  <div class="section">
    <h2><span>Register</span></h2>
    <form action="{% url 'story9:register' %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <p>Sudah punya akun?</p>
        <a href="{% url 'story9:login' %}">Log In</a>
        <input class="btn-submit" type="submit" value="Register">
    </form>
  </div>
</div>
{% endblock content %}