{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>More Info</title>
<link rel="stylesheet" href="{% static 'story7/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'story7/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="accordion-bg p-5">
    <h2>More Info:</h2>
    <div class="accordion">
        <!-- accordion section 0 -->
        <div id="accordion-section-0">
            <div id="accordionhead_0" class="accordion-head p-3">
                <div class="accordion-title"><h1>Riwayat Pendidikan</h1></div>
                <div class="accordion-button">
                    <button class="btn-up-down btn-up">^</button>
                    <button class="btn-up-down btn-down">V</button>
                </div>
            </div>
            <div id="accordioncontent_0" class="accordion-content">
                <ul>
                    <li>TK Mardi Yuana Depok (2005-2007)</li>
                    <li>SD Mardi Yuana Depok (2007-2010)</li>
                    <li>SD Strada Wiyatasana Jakarta (2010-2013)</li>
                    <li>SMP Strada Marga Mulia Jakarta (2013-2016)</li>
                    <li>SMA Kolese Gonzaga Jakarta (2016-2019)</li>
                    <li>Universitas Indonesia (2019-now)</li>
                </ul>
            </div>
        </div>

        <!-- accordion section 1 -->
        <div id="accordion-section-1">
            <div id="accordionhead_1" class="accordion-head p-3">
                <div class="accordion-title"><h1>Aktivitas saat ini</h1></div>
                <div class="accordion-button">
                    <button class="btn-up-down btn-up">^</button>
                    <button class="btn-up-down btn-down">V</button>
                </div>
            </div>
            <div id="accordioncontent_1" class="accordion-content">
                <ul>
                    <li>Perkuliahan Semester 3</li>
                    <li>Staff BEM Keilmuan Fasilkom UI 2020/2021</li>
                </ul>
            </div>
        </div>

        <!-- accordion section 2 -->
        <div id="accordion-section-2">
            <div id="accordionhead_2" class="accordion-head p-3">
                <div class="accordion-title"><h1>Pengalaman Organisasi/Kepanitiaan</h1></div>
                <div class="accordion-button">
                    <button class="btn-up-down btn-up">^</button>
                    <button class="btn-up-down btn-down">V</button>
                </div>
            </div>
            <div id="accordioncontent_2" class="accordion-content">
                <ul>
                    <li>Koordinator Bidang Lomba Catur Gonzaga Festival 2017</li>
                    <li>Koordinator Bidang E-System Gonzaga Festival 2018</li>
                    <li>Staff Equipment PERAK 2020</li>
                    <li>Kepanitiaan Capture The Flag Competition COMPFEST 11</li>
                </ul>
            </div>
        </div>

        <!-- accordion section 3 -->
        <div id="accordion-section-3">
            <div id="accordionhead_3" class="accordion-head p-3">
                <div class="accordion-title"><h1>Prestasi</h1></div>
                <div class="accordion-button">
                    <button class="btn-up-down btn-up">^</button>
                    <button class="btn-up-down btn-down">V</button>
                </div>
            </div>
            <div id="accordioncontent_3" class="accordion-content">
                <ul>
                    <li>Juara 2 Lomba Gitar Solo FLS2N Tingkat Jakarta Selatan 2017</li>
                    <li>Juara Harapan 2 Lomba Gitar Solo FLS2N Tingkat Jakarta Selatan 2018</li>
                    <li>Juara 2 Lomba Catur Tingkat Kecamatan Pasar Minggu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}