{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <title>Activity Add | List</title>
{% endblock meta %}

{% block content %}
    <div class="form">
        <div class="form-section">
            <h2 align="center">Activity Add <span>Form</span></h2>
            <hr class="orange-line">
            <form action="save_activity" method="POST">
                {% csrf_token %}
                {{ input_form|crispy }}
                <input class="btn-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {% if activity_list %}
        <div id="activity" class="activity">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h2 align="center">Activity <span>List</span></h2>
            <hr class="orange-line">
            <div class="row justify-content-center">
                {% for activity in activity_list %}
                    <div class="col-sm-4 col-sm-offset-0 course-section">
                        <div class="row">
                            <div class="col">
                                <h4>{{ activity.name }}</h4>
                                <form action="{% url 'story6:delete_activity' activity.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-delete-activity"><b>Delete</b></button>
                                </form>
                                <p><em>{{ activity.desc }}</em></p>
                            </div>
                        </div>
                        <hr color="lightgrey" style="margin-top: 3px;">
                        <b>Participant:</b>
                        <ul class="person-list">
                            {% for person in person_list %}
                                {% if person.activity == activity %}
                                    <li>{{ person.name }}
                                        <form action="{% url 'story6:delete_person' person.id %}" method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-delete-person"><b>x</b></button>
                                        </form>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <form action="{% url 'story6:add_person' activity.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row justify-content-left">
                                <div class="col">
                                    {{ person_form }}
                                    <button type="submit" class="btn-add">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}