{% extends "base.html" %}
{% load static %}

{% block meta %}
    <title>Hello, I'm Anggito!</title>
{% endblock meta %}

{% block content %}
    <div id="front-page">
        <div class="row justify-content-center">
            <h1 class="center-on-img"><span>Hello,</span> I'm Anggito</h1>
            <hr class="center-on-img white-line">
            <h3 class="center-on-img">Computer Science Student || 19</h3>
        </div>
    </div>

    <div id="about">
        <div class="row p-5">
            <div class="col-sm-4 col-sm-offset-0 right-border" align="center">
                <img src="{% static 'img/self-photo-squared.jpg' %}" class="rounded-circle about-img" alt="self-photo">
            </div>
            <div class="col-sm-8 col-sm-offset-0">
                <h2><span>About</span> Me</h2>
                <hr class="mobile-line">
                <p>A second year computer science student of University of Indonesia. Currently learning web development and data structures. Enjoy coding and creating things in tech.</p>
            </div>
        </div>

        <div class="row p-5">
            <div class="col-sm-8 col-sm-offset-0 right-border">
                <h2>More <span>Details</span></h2>
                <hr class="mobile-line">
                <div class="row p-3">
                    <div class="col-sm-4 col-sm-offset-0">
                        <p><b>Full Name</b></p>
                    </div>
                    <div class="col-sm-8 col-sm-offset-0 value">
                        <p>Antonius Anggito Arissaputro</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <p><b>Date of Birth</b></p>
                    </div>
                    <div class="col-sm-8 col-sm-offset-0 value">
                        <p>June 22<sup>nd</sup> 2001</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <p><b>Study</b></p>
                    </div>
                    <div class="col-sm-8 col-sm-offset-0 value">
                        <p>University of Indonesia</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <p><b>Interests</b></p>
                    </div>
                    <div class="col-sm-8 col-sm-offset-0 value">
                        <p>Software Engineering, Cyber Security</p>
                    </div>
                    <br>
                </div>
            
            </div>
            <div class="col-sm-4 col-sm-offset-0 skill">
                <h2 align="center"><span>Skills</span></h2>
                <hr class="mobile-line">
                <div class="row" align="center">
                    <div class="col p-3">
                        <img src="{% static 'img/python.png' %}" class="skill-icon" alt="python-icon">
                    </div>
                    <div class="col p-3">
                        <img src="{% static 'img/java.png' %}" class="skill-icon" alt="java-icon">        
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="col p-3">
                        <img src="{% static 'img/html.png' %}" class="skill-icon" alt="html5-icon">
                    </div>
                    <div class="col p-3">
                        <img src="{% static 'img/css.png' %}" class="skill-icon" alt="css-icon">  
                    </div>
                </div>
                <a href="/projects"><h5 align="right"><i><u>My Projects</u></i><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M491.841,156.427c-19.471-45.946-51.936-85.013-92.786-112.637C358.217,16.166,308.893-0.007,256,0
                                c-35.254-0.002-68.946,7.18-99.571,20.158C110.484,39.63,71.416,72.093,43.791,112.943C16.167,153.779-0.007,203.104,0,256
                                c-0.002,35.255,7.181,68.948,20.159,99.573c19.471,45.946,51.937,85.013,92.786,112.637C153.783,495.834,203.107,512.007,256,512
                                c35.253,0.002,68.946-7.18,99.571-20.158c45.945-19.471,85.013-51.935,112.638-92.785C495.834,358.22,512.007,308.894,512,256
                                C512.002,220.744,504.819,187.052,491.841,156.427z M460.413,342.257c-16.851,39.781-45.045,73.724-80.476,97.677
                                c-35.443,23.953-78.02,37.926-123.936,37.933c-30.619-0.002-59.729-6.218-86.255-17.454
                                c-39.781-16.85-73.724-45.044-97.677-80.475C48.114,344.495,34.14,301.917,34.133,256c0.002-30.62,6.219-59.731,17.454-86.257
                                c16.851-39.781,45.045-73.724,80.476-97.677C167.506,48.112,210.084,34.139,256,34.132c30.619,0.002,59.729,6.218,86.255,17.454
                                c39.781,16.85,73.724,45.044,97.677,80.475c23.953,35.443,37.927,78.02,37.934,123.938
                                C477.864,286.62,471.648,315.731,460.413,342.257z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M398.826,242.084L213.278,119.006c-7.686-5.098-18.049-3-23.147,4.685c-5.099,7.685-3,18.049,4.685,23.147
                                l164.568,109.163L194.815,365.164c-7.686,5.098-9.784,15.461-4.685,23.147c5.099,7.686,15.461,9.784,23.147,4.685l185.548-123.08
                                c4.652-3.086,7.468-8.333,7.468-13.916S403.478,245.17,398.826,242.084z"/>
                        </g>
                    </g>
                    </svg></h5>
                </a>
            </div>
        </div>
    </div>

    <div id="hobby">
        <h2 align="center"><span>My</span> Hobbies</h2>
        <hr class="mobile-line">
        <div class="row justify-content-center p-4">
            <div class="col-sm-4 hobby-section">
                <img src="{% static 'img/chess.jpg' %}" class="img-fluid hobby-img" alt="chessboard">
                <p class="hobby-title">Chess</p>
                <p class="hobby-desc">I've been playing chess since I was little, but just recently playing it more seriously.</p>
            </div>
            <div class="col-sm-4 hobby-section">
                <img src="{% static 'img/guitar.jpg' %}" class="img-fluid hobby-img" alt="guitar">
                <p class="hobby-title">Guitar</p>
                <p class="hobby-desc">I really enjoy playing guitar, especially playing instrumental-only and rock genre.</p>
            </div>
            <div class="col-sm-4 hobby-section">
                <img src="{% static 'img/badminton.jpg' %}" class="img-fluid hobby-img" alt="badimnton">
                <p class="hobby-title">Badminton</p>
                <p class="hobby-desc">I'm not very good at badminton, but it is still my all time favorite sport!</p>
            </div>    
        </div>
    </div>
{% endblock content %}