{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <title>Course Add | List</title>
{% endblock meta %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form">
        <div class="form-section">
            <h2 align="center">Course Add <span>Form</span></h2>
            <hr class="orange-line">
            <form action="saveform" method="POST">
                {% csrf_token %}
                {{ input_form|crispy }}
                <input class="btn-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {% if courses %}
        <div id="course" class="activity">
            <h2 align="center">Course <span>List</span></h2>
            <hr class="orange-line">
            <div class="row">
                {% for course in courses %}
                    <div class="col-sm-4 col-sm-offset-0 course-section">
                        <div class="row">
                            <div class="col">
                                <h4>{{ course.name }}</h4>
                                <a href="{% url 'story5:details' course.id %}">Details</a>
                            </div>
                        </div>
                        <hr color="lightgrey">
                        <ul>
                            <li><b>Lecturer:</b> {{ course.lecturer }}</li>
                            <li><b>Description:</b> {{ course.desc }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}