{% extends "base.html" %}
{% load static %}

{% block meta %}
    <title>Course: {{ course.name }}</title>
{% endblock meta %}

{% block content %}
    <div class="details">
        <div class="details-section">
            <div class="details-title">
                <h2 align="center">{{ course.name }}</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-0 key">
                    <b>Lecturer</b>
                </div>
                <div class="col-sm-6 col -sm-6-offset-0 value">
                    {{ course.lecturer }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-0 key">
                    <b>Credit</b>
                </div>
                <div class="col-sm-6 col-sm-6-offset-0 value">
                    {{ course.credit }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-0 key">
                    <b>Description</b>
                </div>
                <div class="col-sm-6 col-sm-6-offset-0 value">
                    {{ course.desc }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-0 key">
                    <b>Term</b>
                </div>
                <div class="col-sm-6 col-sm-6-offset-0 value">
                    {{ course.term }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-0 key">
                    <b>Room</b>
                </div>
                <div class="col-sm-6 col-sm-6-offset-0 value">
                    {{ course.room }}
                </div>
            </div>
            <div class="row" align="center">
                <div class="col m-4">
                    <a href="/course" class="btn-back">Back</a>
                    <a href="{% url 'story5:delete' course.id %}" class="btn-delete">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}