.wrapper {
    min-height: 500px;
    background-image: linear-gradient(#ffffff, #EE6C4D);
}

.btn-search {
    display: inline;
    border-radius: 5px;
    background-color: #EE6C4D;
    transition: .2s;
    border: 1px solid #EE6C4D;
    padding: 3px 5px;
  }
  
.btn-search:hover {
    background-color: #F5F5F5;
    color: #EE6C4D;
    font-weight: bold;
    border:0px;
  }

#no-result {
    color: #696969;
    margin: 100px;
}

.result-box {
    min-height: 400px;
    background-color: #293241;
    border: 2.5px solid #EE6C4D;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 2px 2px 3px 3px #293241;
}

.result-box:hover {
    transform: scale(1.025);
}

.result-box h4 {
    color: #EE6C4D;
}

.result-box h6 {
    color: #A9A9A9;
}

img.cover {
    width: 150px;
}

a.read-more {
    text-decoration: none;
    color: #ffffff;
}

a.read-more:hover {
    color: #EE6C4D;
    font-weight: bold;
}