/* #293241 */

.main {
    height: 85vh;
    padding: 50px;
    background-image: linear-gradient(#ffffff, #EE6C4D);
}

.main h2, .main h5 {
    margin-bottom: 20px;
}

.main a {
    text-decoration: none;
    color: #eee;
    transition: .2s;
}

.main a:hover {
    text-decoration: none;
    color: #EE6C4D;
}

.section {
    margin: 0 auto;
    padding: 50px;
    width: 400px;
    background-color: #293241;
    color: white;
    border: 3px solid #EE6C4D;
    border-radius: 40px;
    box-shadow: 3px 3px 5px 5px #293241;
}

.btn-user {
    background-color: #EE6C4D;
    font-weight: bold;
    border-radius: 10px;
    transition: .2s;
}

.btn-user:hover {
    background-color: #eee;
    border: 2px solid #EE6C4D;
}

form p {
    text-align: left;
    display: inline;
}

form a {
    display: inline;
}