{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Search Books</title>
<link rel="stylesheet" href="{% static 'story8/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'story8/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="wrapper p-5 text-center">
    <div class="search">
        <h2>Search <span>Books</span></h2>
        <form id="search-form" class="m-4">
            {% csrf_token %}
            <input type="text" class="text">
            <input type="submit" class="btn-search" value="Search">
        </form>
    </div>
    <div class="result row">
    </div>
</div>

<template id="template-result">
    <div class="col-12 col-sm-6 col-lg-4 mt-3">
        <div class="result-box p-3">
            <h4 class="text-truncate"></h4>
            <h6></h6>
            <hr color="darkgrey">
            <div>
                <img class="cover m-2" src="">
            </div>
            <a href="" target="_blank" class="read-more">Read More >>></a>
        </div>
    </div>
</template>
{% endblock content %}