.accordion-bg {
    min-height: 600px;
    background-image: linear-gradient(#ffffff, #EE6C4D);
}

.accordion-bg h2 {
    width: 70%;
    margin: 25px auto;
    font-weight: bold;
}

.accordion{
    width:70%;
    margin:0 auto;
}

/* accordion heading */
.accordion-head {
    background-color:#293241;
    border: 2px solid #EE6C4D;
    border-radius: 10px;
    position: relative;
}

.accordion-title {
    width: 100%;
    word-break: break-word;
}

.accordion-title h1 {
    color: #EE6C4D;
    font-size: 30px;
    text-align: left;
}

.accordion-title:hover {
    cursor:pointer;
}

.accordion-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btn-up-down {
    color: #ffff;
    background-color: #EE6C4D;
    border: 2px solid #EE6C4D;
    width: 50px;
    padding: 5px;
    font-weight: bold;
}

/* accordion section content */
.accordion-content {
    background-color: #ffffff;
    display: none;
    padding: 10px;
    line-height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

@media screen and (max-width:480px){
    .accordion{
        width:100%;
        margin:0;
    }

    .accordion-title {
        margin-right: 120px;
    }
}